:root{
    --cor-ecommerce:  rgb(250, 250, 253);
    --cor-titulo: rgb(26, 25, 25);
    /**
    Azul alternativo: rgb(40, 145, 177);
    **/
}

a{ 
    color: var(--cor-titulo);
} 

a:hover{ 
    color: var(--cor-titulo);
} 

a:link { 
    text-decoration:none; 
    color: var(--cor-titulo);
} 

body{
    background-color: var(--cor-ecommerce);
 }

 .bg-ecomerce{
    background-color: var(--cor-ecommerce);
}

.conteudo-navegacao{
    margin: auto;
}

.imagem-logo{
    width: 10%;
    margin: auto;
}

.links-navegacao{
   color: var(--cor-titulo);
   font-size: 18px;
   font-weight: 200;
   text-transform: uppercase;
}

.row-navbar{
    width: 100%;
}

.input-search{
    width: 350px;
    position: absolute;
    padding-top: 35px;
}

.input-search input,
.input-search input:hover,
.input-search input:focus{
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.input-search .input-group{
    border-bottom: 1px solid #ced4da;
}

.vantagens-ecommerce {
    height: inherit;
    text-transform: uppercase;
}

.vantagens-ecommerce .row{
    height: 150px;
    background-color: rgb(66, 60, 60);
    vertical-align: middle !important;
    color: #fff;
}

.vertical-centro {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item-vantagem{
    text-align: center;
    border-left: 1px solid gray;
    font-weight: 500;
}

.icone-vantagem{
    padding-left: 25px;
    font-size:40px;
}

/***
BOOTSTRAP SOBSCRITO
***/

.list-group-item {
    color: var(--cor-titulo);
    background-color: transparent;
    border: none;
    margin: auto;
}

.row {
    --bs-gutter-x: 0;
}